Lib/
Library/
Include/
Scripts/
share/
__pycache__/
pyvenv.cfg
screencap_template2.png
beamconnector.py
dAIannaLoader/packages
dAIannaLoader/x64
dAIannaLoader/dAIannaHook
dAIannaLoader/.vs
dAIannaLoader/Debug
dAIannaLoader/dAIannaInjector/x64
dAIannaLoader/dAIannaInjector/Debug
dAIannaLoader/dAIannaHook/x64
dAIannaLoader/dAIannaHook/Debug